# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
dist/
.next/

# OS
.DS_Store
Thumbs.db

# Build
build/
frontend/dist/
*.log

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfvars
/frontend/public/og/
frontend/public/og/
